header, nav, main, footer {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: url(asdffg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    justify-content: center;
    height: 100vh;
}

header {
	background: rgba(0, 0, 0, 0);
	color: #fff;
	padding: 10px;
}



h1{
	color: rgb(0, 0, 0);
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}

nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	background-color: #444;
}

main {
	margin: 10px;
}

section {
	margin-bottom: 10px;
}

h2 {
	margin-top: 0;
}

#home-list {
	display: flex;
	flex-wrap: wrap;
}

.car {
	width: 30%;
	margin-right: 3.3333%;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.car img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.car h3 {
	margin: 0;
}

.car p {
	margin: 0;
}
@media screen and (max-width: 1024px) {
    .container {
        max-width: 600px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }
}
